{% extends 'base.html'  %}
{% block head  %}
<title>Final Project - DeepMovement: The New Normal</title>
{% endblock %}

{% block body  %}
<h1>DeepMovement - AC295</h1>
Developed by team <b><i>The New Normal</i> (Debbie Liske, Bo Yuan, Fahd Jadoon)<b> <br><br>

<form action="/" method="POST">
    <input type="text" placeholder="Filename1" name="style_img_fn" id="style_img_fn">
    <input type="text" placeholder="Filename2" name="content_img_fn" id="content_img_fn">
    <input type="file" name="style_img" id="style_img" enctype="multipart/form-data">
    <input type="file" name="content_img" id="content_img" enctype="multipart/form-data">
    <input type="submit" value="Transform!">
</form>

{% endblock %}
